<canvas id="chart" width="800" height="400"></canvas>

<div class="controls-container">
<div class="controls">
  <script>
    function disableInvalidRadios (element) {
      if (element.getAttribute("name") !== "smt") return;
      const htRadio2 = document.querySelector(`#htRadios input[value="2"]`);
      if (element.getAttribute("value") === "0") {
        if (htRadio2.checked) {
          const htRadio1 = document.querySelector(`#htRadios input[value="1"]`);
          htRadio1.click();
        }
        htRadio2.disabled = true;
      } else {
        htRadio2.disabled = false;
      }
    }
  </script>
  <strong label-for="turbo">Turbo boost:</strong>
  <span id="turboBoostRadios">
    <label><input type="radio" name="turbo" value="0">Off</label>
    <label><input type="radio" name="turbo" value="undefined" checked>Both</label>
    <label><input type="radio" name="turbo" value="1">On</label>
  </span>
  <strong label-for="smt">SMT:</strong>
  <span id="smtRadios">
    <label><input type="radio" name="smt" value="0" onclick="disableInvalidRadios(this)">Off</label>
    <label><input type="radio" name="smt" value="undefined" onclick="disableInvalidRadios(this)" checked>Both</label>
    <label><input type="radio" name="smt" value="1" onclick="disableInvalidRadios(this)">On</label>
  </span>
  <strong label-for="thr_sib">Using thread siblings:</strong>
  <span id="htRadios">
    <label><input type="radio" name="thr_sib" value="0">No</label>
    <label><input type="radio" name="thr_sib" value="undefined" checked>Both</label>
    <label><input type="radio" name="thr_sib" value="1">Yes</label>
  </span>
  <strong label-for="stress">Stress:</strong>
  <span id="stressRadios">
    <label><input type="radio" name="stress" value="0">Off</label>
    <label><input type="radio" name="stress" value="undefined" checked>Both</label>
    <label><input type="radio" name="stress" value="1">On</label>
  </span>
  <strong label-for="show-max-value">Show final value of each line:</strong>
  <input id="show-max-value" type="checkbox">
</div>
<div class="controls">
  <div>
    <strong label-for="qdepth">Queue Depth:</strong><br />
    <span class="note">(1 queue pair per device)</span>
  </div>
  <span id="qdepthRadios"></span>
  <strong label-for="ncpus">Number of Physical Cores:</strong>
  <span id="cpusRadios"></span>
  <strong label-for="ndevs">Number of Devices:</strong>
  <span id="devicesRadios"></span>
  <strong label-for="iosize">I/O Size:</strong>
  <span id="iosizeRadios"></span>
  <strong label-for="fixed_freq">CPU Frequency or Governor:</strong>
  <span id="cpufreqRadios"></span>
  <strong label-for="tool">Benchmarking tool:</strong>
  <span id="toolRadios"></span>
</div>
<div class="controls">
  <strong>Value on y-axis:</strong>
  <div class="button-row y">
    <button value="0">IOPS</button>
    <button value="1">MiB/s</button>
  </div>
</div>
<div class="controls">
  <strong>Value on x-axis:</strong>
  <div class="button-row x">
    <button value="0">Queue Depth</button>
    <button value="1"># Physical Cores</button>
    <button value="2"># Devices</button>
    <button value="3">I/O Size</button>
    <button value="4" style="display:none">CPU Frequency or Governor</button>
  </div>
</div>
</div>

<dialog>
  <strong>CPU frequencies</strong>
  <button onclick="document.querySelector('dialog').close()">x</button>
  <canvas id="freq-chart" width="100%" height="100%"></canvas>
</dialog>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
